body.theme-4sucres {
    @apply bg-gray-200 text-gray-700;
}

.theme-4sucres {
    hr {
        @apply bg-gray-300;
        height: 1px;
    }

    .text-muted {
        @apply text-gray-500;
    }

    a {
        @apply text-blue-600;
    }

    a:hover {
        @apply text-blue-500;
    }

    a.inactive, .text-muted a {
        @apply text-gray-600;
    }

    a.inactive:hover, .text-muted a:hover {
        @apply text-gray-600 underline;
    }

    header {
        background: linear-gradient(90deg, #3F4450 0%, #434E61 50%, #454D61 100%);
    }

    nav {
        /* @apply pb-4; */
        border-top: 1px solid #4A5566;
        background: linear-gradient(90deg, #323747 0%, #454C5F 100%);
    }

    .form-control {
        @apply border border-gray-300;
    }

    .form-control.form-control-inverse {
        @apply border-0 bg-gray-700 text-white;
    }

    .nav-link {
        @apply text-gray-500 relative;
    }

    .nav-link:hover, .nav-link:focus {
        @apply text-gray-400;
    }

    .nav-link.active {
        @apply text-white;
    }

    .nav-link.active::after {
        @apply absolute;
        background: #29d;
        left: 0; right: 0;
        bottom: -8px;
        height: 2px;
        content: '';
        box-shadow: 0 -4px 10px #29d, 0 -1px 5px #29d;
    }

    .btn {
        @apply text-gray-700;
    }

    .btn-primary {
        @apply bg-teal-500 text-white;
    }

    .btn-primary:hover {
        @apply bg-teal-600 text-white;
    }

    .btn-secondary {
        @apply bg-gray-300;
    }

    .btn-secondary:hover {
        @apply bg-gray-400 text-black;
    }

    .btn-tertiary:hover {
        @apply bg-gray-200 text-black;
    }

    .card {
        @apply bg-white;
    }

    .hoverable:hover {
        @apply bg-gray-100;
    }
}