body.theme-4sucres {
    @apply bg-gray-200 text-gray-700;
}

.theme-4sucres {
    hr {
        @apply bg-gray-300;
        height: 1px;
    }

    .text-muted {
        @apply text-gray-500;
    }

    a {
        @apply text-gray-600;
    }

    a:hover {
        @apply text-gray-500;
    }

    a.accent {
        @apply text-blue-600;
    }

    a.accent:hover {
        @apply text-blue-500;
    }

    a.accent:visited {
        @apply text-blue-600 font-mono;
    }

    .text-muted a {
        @apply text-gray-600;
    }

    .text-muted a:hover {
        @apply text-gray-600 underline;
    }

    header {
        /* background: linear-gradient(90deg, #3F4450 0%, #434E61 50%, #454D61 100%); */
        @apply bg-gray-800;
    }

    nav {
        /* @apply pb-4; */
        @apply border-t border-gray-700;
        /* background: linear-gradient(90deg, #323747 0%, #454C5F 100%); */
        @apply bg-gray-900;
    }

    .form-control {
        @apply border border-gray-300;
    }

    .form-control.form-control-inverse {
        @apply border-0 bg-gray-700 text-white;
    }

    .nav-link {
        @apply text-gray-500 relative;
    }

    .nav-link:hover, .nav-link:focus {
        @apply text-gray-400;
    }

    .nav-link.active {
        @apply text-white;
    }

    @screen sm {
        .nav-link.active::after {
            @apply absolute;
            background: #29d;
            left: 0; right: 0;
            bottom: -8px;
            height: 2px;
            content: '';
            box-shadow: 0 -4px 10px #29d, 0 -1px 5px #29d;
        }
    }

    .nav-fa-stack {
        :first-child::before {
            color: #323747;
        }

        :last-child::before {
            @apply text-gray-500;
        }
    }

    .nav-fa-stack:hover, .nav-fa-stack:focus, .nav-fa-stack.active {
        :last-child::before {
            @apply text-white;
        }
    }

    .nav-fa-stack.active {
        :first-child::before {
            background: #29d;
        }
    }

    .btn {
        @apply text-gray-700;
    }

    .btn-primary {
        @apply bg-teal-500 text-white;
    }

    .btn-primary:hover {
        @apply bg-teal-600 text-white;
    }

    .btn-secondary {
        @apply bg-gray-300;
    }

    .btn-secondary:hover {
        @apply bg-gray-400 text-black;
    }

    .btn-tertiary:hover {
        @apply bg-gray-200 text-black;
    }

    .card {
        @apply bg-white shadow;
    }

    .cards {
        @apply shadow rounded;

        .card {
            @apply rounded-none shadow-none border-b border-gray-300;
        }

        .card:first-child {
            @apply rounded-t;
        }

        .card:last-child {
            @apply rounded-b border-b-0;
        }

        .card:nth-child(even) {
            @apply bg-gray-100;
        }
    }

    .hoverable:hover {
        @apply bg-gray-200 !important;
    }

    .badge {
        color: #fff;
    }

    .badge:hover {
        color: #fff;
    }

    .badge-primary {
        background-color: #5f82aa;
    }

    blockquote {
        @apply bg-white shadow border border-gray-300;
    }
}